/* !RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !GENERICS */

header, footer{
    height: 80px;
    width: auto;
    background-color: black;
}

footer{
    background-color: #222222;
}

main{
    overflow: auto;
    background-color: black;
}


/* !UTILITY */

.container{
    width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.vh-100{
    height: calc(100vh - 160px)
}


/* HEADER */

.btn-view-mode, .btn-close{
    color: white;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    
}

.btn-view-mode:active, .btn-close:active{
    transform: scale(1.04);
}

.utility-header{
    justify-content:flex-end;
    padding-inline-end: 20px;
}

.btn-view-mode{
    margin-right: 5px;

}

/* MAIN */

.row{
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.user{
    flex-basis: calc(100% / 7 - 10px);
    position: relative;
    margin-bottom: 10px;

}

.user img{
    display: block;
    width: 100%;
}

.user-action{
    background-color: rgba(78, 77, 77, 0.63);
    padding: 3px;
    color: white;
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* FOOTER */

.a-v-user-commands > *, .room-user-commands > *, .btn-ending-meeting > * {
    display: inline-block;
    padding: 10px;
}


.container-user-commands{
    height: 100%;
    flex-basis: calc(100% / 3);
    color: lightgray;
    justify-content: space-between;
    align-items: center;
}

.a-v-user-commands, .room-user-commands{
   text-align: center;
   align-items: center;
}

.action-icon i{
    font-size: 2rem;
    padding-bottom: 5px;
    cursor: pointer;
}

.btn-ending-meeting{
    background-color: #4A4A4A;
    color: red;
    height: 100%;
    border: none;
    padding: 0 20px;
    font-weight: bold;
    cursor: pointer;
}

.more{
    cursor: pointer;
}