/* !RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !GENERICS */

header, footer{
    height: 80px;
    width: auto;
    background-color: black;
}

main{
    overflow: scroll;
}

/* !UTILITY */

.container{
    width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.vh-100{
    height: calc(100vh - 160px)
}


/* HEADER */

.view, .close{
    color: white;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    
}

.utility-header{
    justify-content:flex-end;
    padding-inline-end: 20px;
}

.view{
    margin-right: 5px;

}

/* MAIN */

.row{
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.user{
    flex-basis: calc(100% / 7 - 10px);
    position: relative;
    margin-bottom: 10px;

}

.user img{
    display: block;
    width: 100%;
}

.user-action{
    background-color: rgba(78, 77, 77, 0.63);
    padding: 3px;
    color: white;
    font-size: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
}